[Desktop Entry]
Name=COSMIC App Template
Exec=cosmic-pomodoro %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.example.CosmicPomodoro
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
